/* Global Settings */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1240px;
    margin:auto;
}
.row{
    display: flex;
}
.col-4{
    width: 33.33%;
    display: inline-block;
}
/* Banner section start */
.banner{
    background-color: #fceef1;
    height: 650px;
    position: relative;
}
.banner-left{
    margin-top: 120px;
    width: 60%;
}
.banner-left h1{
    font-size: 50px;
}
.banner-left p{
    margin: 40px 0px 50px 0px;
    color: #272727;
    line-height: 1.7;
    margin-right: 100px;
}
.btn{
    text-decoration: none;
    background-color: #E55473;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #d1d1d1;
    transition: .4s;
}
.btn:hover{
    background-color: white;
    color: #000;
}
.banner-right{
    width: 40%;
}
.banner-right img{
    width: 500px;
    position: absolute;
    bottom: 0;
}
/* Banner section end */
/* Featured section start */
.featured{
    padding: 100px 0px;
}
.featured-head{
    text-align: center;
}
.heading{
    font-size: 26px;
    margin-bottom: 10px;
}
.sub-heading{
    color: #868686;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.6;
}
.featured-body{
    text-align: center;
    margin-top: 50px;
}
.featured-body .row .col-4{
    margin: 0px 30px;
}
.flower-box{
    border-radius: 50% 50% 0px 0px;
    padding-top: 80px;
    padding-bottom: 0px;
    overflow: hidden;
}
.bg-pink{
    background-color: #e495bb;
}
.bg-paste{
    background-color: #D9EFF1;
}
.bg-green{
    background-color: #E3EBDB;
}
.flower-box img{
    width: 50%;
    margin-bottom: -5px;
}
.featured-body a{
    color: black;
    margin-top: 30px;
    display: inline-block;
    font-size: 22px;
}
.pb-30{
    padding-bottom: 30px;
}
.bg-paste img{
    width: 60%;
}
.bg-green img{
    width: 46%;
}
/* Featured section end */
/* Icon Info section start */
.icon-info{
    margin-bottom:100px;
}
.bg-silver{
    background: #F4F4F4;
    text-align: center;
    padding: 80px 30px;
    border-radius: 10px;
}
.icon-info p{
    margin-top: 20px;
    font-weight: bold;
    color: #868686;
}
/* Icon Info section end */
/* Hot Deal section start */
.hot-deal{
    background: #FEF6F8;
    margin-bottom: 100px;
    padding: 80px 0px;
}
.hot-deal-left{
    text-align: center;
    width: 60%;
}
.hot-deal-left h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.hot-deal-left p{
    line-height: 1.7;
    color: #868686;
    margin-bottom: 30px;
}
.vertical-center{
    align-items: center
}
.hot-deal-right{
    width: 40%;
}
.hot-deal-right img{
   width: 200px;
}
.color-pink{
    color: #E55473;
}
/* Hot Deal section end */